@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.container {
    background-color:#EAEBE6;
    color: #1B1E09;
}

main {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align: center; 
}

.lisianthus {
    display:flex;
    flex-direction:column;
    justify-content: space-between;

    height: 80vh;
    background-image: url(../assets/white-lisianthus.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.silk {
    height: 100vh;
    background-image: url(../assets/silk.jpeg);
    background-position: center;
    background-size: cover;

    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.main-header {
    height: 40%;
    .invita-txt {
        color: #5B4B53;
        font-size: 1.2rem;
        background-color: rgba(230, 229, 217, .4);
        padding: .7rem;
    }
}

.main-names {
    flex: 1;
}

.reserva-header {
    height: 12%;
    margin-top: .5rem;

    background-image: url(../assets/reserva-fecha-green.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.namesWrapper {
    background-color:rgba(217, 212, 178, .8);
    height: 45%;
    padding-top: .4rem;
}

.datesWrapper {
    background-color: rgba(127, 132, 71, 1);
    height: 15%;

    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
}

.image {
    height: 100%;
    background-image: url(../assets/ale-dante-green_style_two.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

span {
    margin: 1rem;
    color: #1B1E09;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.header-poema {
    padding: 1.5rem 1rem;
}

.bg-svg {
    width: 100%;
    background-image: url(../assets/poema-header.svg);
    background-repeat: no-repeat;
    padding-bottom: 15%;
    background-position: center;
}

.container-details {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;

    height: 100%;
}

.box {
    height: 45%;
    background-color: rgba(230, 229, 217, .4);
}

.box img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 900px) {
    .lisianthus {
        background-position: top;
    }

    .silk {
        height: auto;
    }

    .datesWrapper {
        height: 10%;
    }
    
    span {
        font-size: 1.25rem;
    }

    .reserva-header {
        background-image: url(../assets/reserva-fecha-green.png);
        height: 5rem;
    }

    .bg-svg {
        background-size: contain;
    }

    .box {
        height: 35%;
    }

    .main-header {
        .invita-txt {
            font-size: 1rem;
        }
    }
  }