
<main>
    <div class="container lisianthus">
        <div class="main-header">
            <div class="invita-txt">Te invitamos a celebrar con nosotros</div>
            <div class="box"><img src="../assets/nuestra_boda_purple_dark.svg" alt="Nuestra Boda"></div>
        </div>
        <div class="main-names">
            <div class="namesWrapper">
                <div class="image"></div>
             </div>
        </div>
        <div class="datesWrapper">
            <span>18 de Junio 2022</span>
            <span>Huamantla, Tlaxcala</span>
        </div>
    </div>
    <div class="container silk">
        <div class="header-poema">
            <div class="bg-svg"></div>
        </div>
        <div class="container-details">
            <app-details [source]="'../../assets/convento_noche.jpeg'"
                         [title]="'CEREMONIA 5PM'"
                         [location]="'Convento Franciscano de San Luis Obispo'"
                         [address]="'Parque Juárez 6-11, Centro, Huamantla Tlaxcala'"
                         [link]="'https://goo.gl/maps/d52Eu7hHmZrDUzzq8'"></app-details>
            <app-details [source]="'../../assets/fachada_uno.jpeg'"
                         [title]="'RECEPCION'"
                         [location]="'Hacienda Soltepec'"
                         [address]="'Huamantla - Puebla Km. 3, 90505 Ignacio Zaragoza, Tlaxcala'"
                         [link]="'https://g.page/HaciendaSoltepec?share'"></app-details>
        </div>
    </div>
 </main>