@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.container {
    background-color:#EAEBE6;
}

main {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align: center; 
}

.lisianthus {
    display:flex;
    flex-direction:column;
    justify-content: space-between;

    height: 100vh;
    background-image: url(../assets/white-lisianthus.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.silk {
    height: 100vh;
    background-image: url(../assets/silk.jpeg);
    background-position: center;
    background-size: cover;

    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.reserva-header {
    height: 12%;
    margin-top: .5rem;

    background-image: url(../assets/reserva-fecha-green.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.namesWrapper {
    background-color: rgba(217, 212, 178, .75);
    height: 25%;
}

.datesWrapper {
    background-color: rgba(127, 132, 71, 1);
    height: 15%;

    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
}

.image {
    height: 100%;
    background-image: url(../assets/ale-y-dante.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

span {
    margin: 1rem;
    color: #1B1E09;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.bg-svg {
    width: 100%;
    background-image: url(../assets/poema-header.svg);
    background-repeat: no-repeat;
    padding-bottom: 15%;
    background-position: center;
}

@media (max-width: 900px) {
    .lisianthus {
        background-position: right;
    }
    
    .datesWrapper {
        height: 10%;
    }
    .namesWrapper {
        height: 7rem;
    }
    
    span {
        font-size: 1.25rem;
    }

    .reserva-header {
        background-image: url(../assets/reserva-fecha-green.png);
        height: 5rem;
    }

    .bg-svg {
        background-size: cover;
    }
  }