<div class="main">
    <div class="box"><img src="{{source}}" alt="Convento San Luis Obispo"></div>
    <div class="box-text">
        <h2>{{title}}</h2>
        <div class="txt-container white-text location">{{location}}</div>
            <a href="{{link}}">
                <div class="address">
                    <div class="txt-container white-text">{{address}}</div>
                    <img class="icon" src="../../assets/location-icon-vector.png" alt="Paris">
                </div>
            </a>
    </div>
</div>
